<mat-toolbar color="primary">
  <span>Tópicos Especiais II</span>
  <span>
    <button mat-menu-item [matMenuTriggerFor]="menu" style="color: white;">Tabelas</button>
  </span>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="solicitante">Solicitante</button>
  <button mat-menu-item routerLink="tipo-transacao">Tipo Transação</button>
  <button mat-menu-item routerLink="objetivo-estrategico">Objetivo Estratégico</button>
  <button mat-menu-item routerLink="modalidade-aplicacao">Modalidade Aplicação</button>
  <button mat-menu-item routerLink="grupo-despesa">Grupo Despesa</button>
  <button mat-menu-item routerLink="unidade">Unidade</button>
  <button mat-menu-item routerLink="programa">Programa</button>
  <button mat-menu-item routerLink="acao">Ação</button>
  <button mat-menu-item routerLink="elementodespesa">Elemento Despesa</button>
  <button mat-menu-item routerLink="unidadeorcamentaria">Unidade Orçamentária</button>
  <button mat-menu-item routerLink="tipolancamento">Tipo Lançamento</button>
  <button mat-menu-item routerLink="lancamento">Lançamentos</button>
</mat-menu>

<router-outlet></router-outlet>
